<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Get Football Data</title>
	<link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"></link>
</head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
<body>
	<section class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<select id="teamList">
					<option value="57">アーセナルFC</option>
					<option value="563">ウェストハム・ユナイテッドFC</option>
					<option value="74">ウェスト・ブロムウィッチ・アルビオンFC</option>
					<option value="62">エバートンFC</option>
					<option value="340">サウサンプトンFC</option>
					<option value="354">クリスタル・パレスFC</option>
					<option value="72">スウォンジー・シティFC</option>
					<option value="70">ストーク・シティFC</option>
					<option value="61">チェルシーFC</option>
					<option value="73">トッテナム・ホットスパーFC</option>
					<option value="328">バーンリーFC</option>
					<option value="322">ハル・シティFC</option>
					<option value="65" selected>マンチェスター・シティFC</option>
					<option value="66">マンチェスター・ユナイテッドFC</option>
					<option value="343">ミドルスブラFC</option>
					<option value="64">リヴァプールFC</option>
					<option value="338">レスター・シティFC</option>
					<option value="346">ワトフォードFC</option>
					<option value="1044">AFCボーンマス</option>
				</select>
				<button id="search" type="button" class="btn btn-primary btn-sm" >検索</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h2 id="resultTitle">試合結果</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>2017-2018シーズンの試合結果を表示します。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" th:if="${TeamsFixturesDto != null}" th:fragment="result">
				<div style="margin-top:8px" id="matchResult" th:each="teamsFixtures: ${TeamsFixturesDto.fixtures}">
					<table border="1" style="width:500px;table-layout:fixed">
						<tbody>
							<tr>
								<td colspan="2" style="text-align:center;background: lightgray;" th:text=" ${#strings.substring(teamsFixtures.date,0,10)} "></td>
							</tr>
							<tr>
								<td style="text-align:center;background: lightblue;"  th:text="${teamsFixtures.homeTeamName}"></td>
								<td style="text-align:center;background: lightblue;"  th:text="${teamsFixtures.awayTeamName}"></td>
							</tr>
							<tr>
								<td colspan="2" style="text-align:center" th:text="${teamsFixtures.result.goalsHomeTeam + ' - ' + teamsFixtures.result.goalsAwayTeam }"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="matchresults-end">
			<p>データの取得先は<a href="http://api.football-data.org/index">こちら</a></p>
		</div>
	</section>
	<!-- 読み込み中ダイアログ -->
	<div id="loader-bg" style="display:none;">
		<div id="loading">
			<p>読み込み中です</p>
		</div>
	</div>

 	</body>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		$("#search").bind("click" , function() {
			$("#loader-bg").show();

			$.ajax({
				type:"get",
				url:"search/" + $("#teamList").val(),
				//data:{"teamId":$("#teamList").val()}
				dataType: 'html',
				success: function(data){
					var teamName = $('#teamList  option:selected').text();
					//$("#resultTitle").html(teamName + "の試合結果");
					$('#matchResult').html(data);
					$("#loader-bg").hide();
				},
			});
	    });
	});

	$(window).load(function () {
		$("#loader-bg").hide();
	})
	/*]]>*/
	</script>
</html>